name: ${CONTAINER_NAME}
services:
    service:
        shm_size: 16gb
        user: "${CONTAINER_UID}:${CONTAINER_UID}"
        build:
            context: ..
            dockerfile: .devcontainer/Dockerfile
            args:
                CONTAINER_USER: ${CONTAINER_USER}
                CONTAINER_UID: ${CONTAINER_UID}
                CONTAINER_HOME: ${CONTAINER_HOME}
        environment:
            CONTAINER_USER: ${CONTAINER_USER}
            CONTAINER_UID: ${CONTAINER_UID}
            CONTAINER_HOME: ${CONTAINER_HOME}
            CONTAINER_WORK_DIR: ${CONTAINER_WORK_DIR}
            CONTAINER_UV_GROUP: ${CONTAINER_UV_GROUP}
            TZ: ${TZ}
        volumes:
            - ../:${CONTAINER_WORK_DIR}
            - venv:${CONTAINER_WORK_DIR}/.venv
            - uv_cache:${CONTAINER_HOME}/.cache/uv:rw
        deploy:
            resources:
                reservations:
                    devices:
                        - driver: nvidia
                          device_ids: ["${CONTAINER_GPU_ID}"]
                          capabilities: [gpu]
        command: sleep infinity

volumes:
    venv:
        driver: local
    uv_cache:
        driver: local
        driver_opts:
            type: none
            o: bind
            device: ${CONTAINER_VOLUME}/cache/uv
